.header{
  background-color: var(--color-black);
  padding: 12px;
}
.navbar_left,
.navbar_rigth {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar_left h4,
.navbar_rigth h4 {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
}
.navbar_left img,
.navbar_rigth img {
  color: var(--color-main);
  background-color: var(--color-black);
}
.navbar_left button{
  background-color: var(--color-black);
  border: none;
  color: var(--color-white);
}

.links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link li a,
.links ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.link li a:hover,
.links ul li a:hover{
  color: var(--color-main);
  transition: 0.5s;
}
.black_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .black_navbar end /
.header2{
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 40px;
    &_item{
      border-bottom: 1px solid var(--color-gray);
      display: flex;
      gap: 10px;
      padding-bottom: 5px;
      align-items: center;
      
    }
    &_item input{
border: none;
outline: none;
    }
}
.numbers{
  text-align: end;
  &_tel{
    display: flex;
    gap: 15px;
  }
  & h5{
    font-weight: 500;
font-size: 14px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #63bfbe;
  }
}
.numbers2{
text-align: center;

  &_tels{
    display: flex;
    
    gap: 15px;
  }
  & h5{
    font-weight: 500;
font-size: 14px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #63bfbe;
text-align: center;

  }
}
.white_navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.phone,
.bar{
  display: none;
}
.close{
  position: absolute;
  top: 30px;
  right: 30px;
}
#check{
  display: none;
}
.link{
  display: none;
}
.loupe{
  display: none;
}
.h4_clock{
  display: none;
}
@media(max-width:1070px){
  .links ul{
    gap: 16px;
  }
}
@media(max-width:972px){
  .links ul {
    gap: 10px;
  }
  .navbar_left,
.navbar_rigth {
  gap: 5px;
}
}
@media(max-width:936px){
  .numbers h5,
.numbers p,
.links{
  display: none;
}
.numbers > nav{
  display: flex;
  align-items: center;
  gap: 32px;
}
.numbers_tels {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  color: var(--color-white);
  
}
.close{
  display: block;
}
.bar{
  display: block;
}
.link{
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  
  background-color: var(--color-black);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition: 0.5s;
}
#check:checked ~ .link{
  left: 0;
}
}
@media(max-width:550px){
.phone{
  display: block;
}
.clock{
  display: none;
}
.h4_clock{
  display: block;
}
.numbers_tel > img{
  display: none;
}
.logo_item {
display: none;
}
.loupe{
  display: block;
}
.loupe img{
  height: 24px;
  width: 24px;
}

}